$blue-dark: #17498f;
$blue: #1e5fbb;
$blue-light: #4485e1;
$blue-white: #e2e9f5;

$cyan-dark: #0967ea;
$cyan: #428efb;
$cyan-light: #69acfc;
$cyan-white: #d5e6fe;

$green-dark: #308b4f;
$green: #48c070;
$green-light: #79cf95;
$green-white: #dcf2e3;

$red-dark: #e0090e;
$red: #f73f43;
$red-light: #fc7c7c;
$red-white: #ffe8e9;
