.search-container {
  position: absolute;
  top: 6.5rem; // navbarã®min-height * 2
  left: 0;
  right: 0;
  bottom: 0;
  
  .search-menu {
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-right: 1px solid #dbdbdb;
    height: 100%;
    overflow-y: scroll;
    // box-shadow: 0 0 10px rgba(50, 50, 50, .2);
    z-index: 2;

    .control-list {
      .control:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }

    form > .field {
      padding-bottom: 1.5rem;
    }

    .form-footer {
      padding: 1rem 0;
    }
  }

  .search-result {
    padding: 0;
    background-color: #fff;
    border-right: 1px solid #dbdbdb;
    height: 100%;
    overflow-y: scroll;

    .search-result-item {
      border-bottom: 1px solid #dbdbdb;
      padding: 1rem;
      display: inline-block;
      width: 100%;
      color: #4a4a4a;
      border-left: 5px solid transparent;

      &:hover, &.is-active {
        background-color: #f8f9fa;
      }

      &.is-active {
        border-left-color: #428efb;
        box-shadow: 0 0 10px rgba(50, 50, 50, .2);
      }
    }
  }

  .main-content {
    padding: 1rem 1.5rem;
    border-right: 1px solid #dbdbdb;
    overflow-y: scroll;
  }
}
