.engineer-section {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 1rem;
  border-radius: 3px;

  .section-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  + .engineer-section {
    margin-top: 1rem;
  }
}

.summary-section .level {
  .level-item:not(:last-child) {
    margin-right: 0.5rem;

    &:after {
      content: "/";
      text-align: right;
      width: 1rem;
    }
  }
}

.career-role-list {
  .career-role {
    color: #4a4a4a;

    &:hover {
      text-decoration: underline;
    }
  }
  
  .career-role.is-main {
    font-weight: bold;
    font-size: 1.25rem;
  }
}
